body{
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 40px;
}

img{
    float: right;
    border-radius: 0 5px 5px 0;
    margin-left: 100px;
}

table{
    padding-left: 100px;
}



/********************************CLASSES*******************************/

.main{
    background-color: hsl(244, 38%, 16%);
    margin: 8% 10%;
    height: 446px; 
    text-align: left;
    border-radius: 5px;   
}

.insights{
    color: hsl(277, 64%, 61%);
}

.write{
    padding: 42px 100px 30px;
}

.main-para{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
    width: 37%;
}

.head-table{
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 25px;
    padding: 0 100px 0 0;
}

.head-dis{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10px;
    padding: 10px 0 0 0 ;
    letter-spacing: 1.5px;
}